{% load custom_tags %}

<style>
  ::-webkit-scrollbar {
    width: 0.6em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #025ca4; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #025ca4; 
  }

  .skill-area {
    margin: 1em 1em 1em 1em;
    padding: 1.5em;
    border-radius: 0.5em;
    background-color: #D6EAFC;
  }
    
  .skill-area-container {
    max-height: 48em;
    overflow-y: auto;
  }

  .title {
    font-family: 'Anton', sans-serif;
    font-size: 1.3em;
  }

  .colaboradores {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
  }
</style>

<div class="skill-area-container">
  {% with startup="" %}
  {% for colaborador in colaboradores %}
      {% if startup != colaborador.startup.nome %}
        {% if startup != "" %}
          </div>
          </ul> 
        {% endif %}
        <div class="skill-area">
          <h6 class="title">{{ colaborador.startup.nome }}</h6>
          <ul>
      {% endif %}

      <li class="colaboradores">{{ colaborador.nome }}</li> 
      {% update_value colaborador.startup.nome as startup %}  
    {% endfor %}
  {% endwith %}
</div>