{% load static %}

<div class="row">
    <div class="col-2">
      <span class="dot" style="background-color: blue"></span><span style="margin-left: 1em;">{{nome}}</span>
    </div>
    <input type="hidden" name="{{tipo}}_skill" value="{{ id }}"/>
    {% for i in '0123'|make_list %}
      <div class="col-2">
        <input required {% if i == score|slugify %} checked="checked" {% endif %} type="radio" id="{{tipo}}_skill-{{ id }}-{{i}}" name="{{tipo}}_skill-{{ id }}" value="{{i}}">
        <label for="{{tipo}}_skill-{{ id }}-{{i}}">
          <image class="emoji-style" src="{% static 'images/emojis/emoji-'|add:i|add:'.png' %}" width="40" height="40"></i>
        </label>
      </div>
    {% endfor %}
</div>