<style>
    html, body, .container {
        height: 100%;
        font-family: 'Lato', sans-serif;
    }
    .container {
        position: relative;
        text-align: center;
    }
    .container > p {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -9px;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 0.4em;
    }
    
    a:hover {
        background-color: #ddd;
        color: black;
    }

    .previous {
        background-color: #f1f1f1;
        color: black;
    }

    body {
        overflow: hidden;
    }
</style>

<body style="background-color: #01579B;">
    <a onclick="history.back()"class="previous">⬅ Voltar para editar</a>

    <div class="container">
        <p style="font-size: 3em; color: white;">Muito obrigado por participar da nossa pesquisar!</p>
    </div>
</body>