{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<style>
  .form-container {
    margin-top:3em;
    margin-left: 4em;
    border: 1px solid #01579B;
    max-height: 40em;
    max-width: 105em;
    overflow-y: auto;
    overflow-x: hidden;
  }
</style>

<html>
  <body>
    <div style="margin-left: 2em; margin-top: 1em;">
      <h2>
        Olá, <span style="color: red">{{colaborador.nome}}</span>!
      </h2>
      <h2>
        Sua área principal é <span style="color: red">{{colaborador.area.nome}}.</span>
      </h2>

      <h5>
        Abaixo estão as competências mapeadas para sua área extraídas de seu currículo.
        Por favor, defina o seu nível de conhecimento para cada competência.
      </h5>
      
      <div class="form-container">
        <form action="avaliar_competencias">
          
          {% for skill in colaborador_softs %}
            {{skill.skill}}
            {% include "./_input_emojis.html" with tipo='soft' nome=skill.soft_skill.nome id=skill.soft_skill.id score=skill.score_soft %}
          {% endfor %}

          {% for skill in colaborador_hards %}
            {% include "./_input_emojis.html" with tipo='hard' nome=skill.hard_skill.nome id=skill.hard_skill.id score=skill.score_hard %}
          {% endfor %}
          
          <input type="submit" value="Salvar">  
        </form> 
      </div>
    </div>
  </body>
</html>


